
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/reg.css' %}">
      <h1>Регистрация</h1>
</head>
<body>


        <form action="registration" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
            <input type="Submit" name="Create user">
        </form>
  <div>
            {% for message in messages %}
            <h3>{{ message }}</h3>
            {% endfor %}
    </div>

</body>
</html>